[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
remote_user = root
roles_path = roles
stdout_callback = yaml
retry_files_enabled = False
deprecation_warnings = False
command_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null